*{
    box-sizing: border-box;
}
.header
{
justify-content: space-around;
width: 100%;
height:70px;
display: flex;
margin: 5px auto;
padding:5px 5px;
align-items:center;
background-position: center;
background-size: cover;
box-sizing: border-box;
position: relative;

}

span
{
    background-color: white;
    padding:1px auto;
    margin: 1px auto;

}

.logo{
    width: 50px;
    cursor: pointer;
    background-color: white;
    margin: 1px  auto;
    float: left;
    padding: 1px auto;
    margin: 1px auto;
}


.navbar{
    width: 100%;
    height: 100vh;
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
}

nav {

    float: right;
    list-style-type:armenian ;
    margin: 5px auto;
    color: black;
    display: inline;
    background-color: white;
    
}
nav ul li{
    display: inline-block;

   

}
nav ul li a{
    text-decoration: none;
    color: #03b5fc;
    padding: 5px 20px;
    border: 2px solid black;
    transition: 0.6s ease;
}
nav ul li a:hover{
    background-color: black;
    color:#03cafc;
    transition: all 300ms ease-in-out 5ms ;
}
nav ul li a.active{
    background-color: tomato;
    color: #000;

}

.section
{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)) ;
    


}

.containerImage1 
{
    width: 90%;
    display: grid;
    margin:  1px auto ;
    
}


.containerImage2{
    width: 80%;

    position: 2;
    bottom: 10;
    right: 160px;
    margin: 1px auto;
   

}



.containerContent h1{
    font-size: 50px;
    font-weight: 100;
    margin: 1px auto;
    color: #03b5fc;

}

.containerContent p{
    font-size: 20px;
    font-weight: 100;
    margin: 1px auto;
    color:#232d;
}

.containerContent{
    float: left;
    margin: 1px auto;

   

}

footer
{
    background-color: black;
    margin: 1px auto;
}